@import '../../App.css';

header button {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    padding: 5% 13%;
    margin-top: 5%;

    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    color: #fcf7f7;

    background-color: #942571;
    border: 2px solid #942571;
    border-radius: 5px;
}

header button:hover,
header button:focus-within,
header button:focus {
    background-color: transparent;
}