@import '../../App.css';

h1 {
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 4rem;
}

header p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3rem;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    align-self: center;
    line-height: 2rem;
    padding: 1%;
}

/* IPAD STYLES */
@media (min-width: 768px) {
    h1 {
        font-size: 5.5rem;
    }

    form {
        flex-direction: row;
        justify-content: center;
    }
}

/* SMALL SCREEN STYLES */
@media (min-width: 992px) {
    h1 {
        font-size: 7.5rem;
        margin-bottom: 4%;
    }

    header p {
        font-size: 1.5rem;
    }
}

/* LARGE SCREENS STYLES */
@media (min-width: 1200px) {
    h1 {
        font-size: 9rem;
    }

    header p {
        font-size: 1.8rem;
    }
}